@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=David+Libre&display=swap');
/*font-family: 'David Libre', serif;*/
/*font-family: 'Inter', sans-serif;*/

.body{
box-sizing: border-box;
max-width: 1512px; a{color:black;}}
.none{display: none;}