
.header__row {
    display: inline-flex;
    justify-content: center;

}
.header-logo {margin: 56px 170px  0px 100px;
    @media screen and (max-width: 1300px){margin: 56px 50px 0 0 ;}
        
    
    
}
.header-logo__name{margin: 30px 0 0 5px;}
.header-nav {
    margin: 82px 0 0 0px ;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 29px;
    a{color: #000;}
    a:hover{color: $accent;
    transition: color 0.2s ease-in-out;}


}
.header-menu{ padding-left: 45px;
}


.header-button{ 
    margin: 63px 0px 0 100px ;
    &:hover {
        border: 1px solid #000;
        background-color: #000;
        color: #fff;
        transition: 0.2s ease-in-out border, background-color, color;
}}