
.header__row {
    display: flex;
    justify-content: center;

}
.header-logo {margin: 56px 100px 0 0px;
    
}
.header-logo__name{margin: 30px 0 0 5px;}
.header-nav {
    margin: 82px 0 0 ;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 29px;
    a{color: #101A24;}
    a:hover{color: $accent;
    transition: color 0.2s ease-in-out;}


}
.header-menu{ padding-left: 45px;
}


.header__btn { 
    border: 1px solid $accent; 
    border-radius: 10px 5px 10px 5px;
    white-space: nowrap;
    a{color: #fff;}
    padding: 16px 32px 19px 31px;
    background-color: $accent;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.15);
    margin: 63px 0px 0 100px ;

}