.header__row {
    max-height: 80px ;
    display: flex;
    justify-content: space-between;
}
.header__logo {
    margin: 20px 0 0 16px;
    
}

    

.header__buttons {
  a:first-child{ padding: 0 17px 0 0; }
  margin: 24px 0 0 0 ;
    font-weight: 500;
font-size: 20px;
line-height: 158%;
a {color: #5A5B6A;}
}


.header-serch{
    
}
.search{}
.button__consumer {
}
.account__buttons {
}
.account__btn {
}
.client__logo {
}